<!-- Header -->
<header class="header" id="header">
    <nav class="nav container">
        <a href="" class="nav__logo"><img src="assets/img/logo.png" alt=""></a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a [routerLink]="['/Home']" class="nav__link " >
                        <i class="uil uil-home nav__icon"></i>
                        Home
                    </a> 
                </li>
               <li class="nav__item">
                    <a [routerLink]="['/About']" class="nav__link">
                        <i class="uil uil-user nav__icon"></i>
                        About
                    </a> 
                </li>
                <li class="nav__item">
                    <a [routerLink]="['/Skill']" class="nav__link">
                        <i class="uil uil-file-info-alt nav__icon"></i>
                        Skill
                    </a> 
                </li>
                <li class="nav__item">
                    <a [routerLink]="['/Services']" class="nav__link">
                        <i class="uil uil-briefcase-alt nav__icon"></i>
                        Service
                    </a> 
                </li>
                <li class="nav__item">
                    <a [routerLink]="['/Portfolio']" class="nav__link" >
                        <i class="uil uil-scenery nav__icon"></i>
                        Portfolio
                    </a> 
                </li>
                <li class="nav__item">
                    <a [routerLink]="['/Contact']" class="nav__link">
                        <i class="uil uil-fast-mail-alt nav__icon"></i>
                        Contact
                    </a> 
                </li>
            </ul>
            <i class="uil uil-times nav__close" id="nav-close"></i>            </div>
            <div class="nav__btn">
                <i class="uil uil-moon change-theme" id="theme-button"></i>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>    
                </div>
            </div>
    </nav>

</header>


