<!-- porfolio -->
<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent work</span>
    <div class="portfolio__container container swiper mySwiper  ">
        <div class="swiper-wrapper">
            <!-- portfolio 1 -->
            <div class="portfolio__content grid swiper-slide ">
                <img src="assets/img/gojek.jpg" alt="" class="portfolio__img">
                <div class="portfolio__data">
                    <h3 class="portfolio__title">Moder Website</h3>
                    <p class="portfolio__description">Website adaptable to all devices and animated interactions</p>
                    <a href="#" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right portfolio__icon"></i>
                    </a>
                </div>
            </div>
             <!-- portfolio 2 -->
             <div class="portfolio__content grid swiper-slide ">
                <img src="assets/img/gojek.jpg" alt="" class="portfolio__img">
                <div class="portfolio__data">
                    <h3 class="portfolio__title">Shop Ogani</h3>
                    <p class="portfolio__description">Website adaptable to all devices and animated interactions</p>
                    <a href="#" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right portfolio__icon"></i>
                    </a>
                </div>
            </div>
             <!-- portfolio 3 -->
             <div class="portfolio__content grid swiper-slide ">
                <img src="assets/img/gojek.jpg" alt="" class="portfolio__img">
                <div class="portfolio__data">
                    <h3 class="portfolio__title">Moder Website</h3>
                    <p class="portfolio__description">Website adaptable to all devices and animated interactions</p>
                    <a href="#" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right portfolio__icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next">
            <i class="uil uil-arrow-right swiper-porfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-arrow-left swiper-porfolio-icon"></i>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="project section">
    <div class="project__bg">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">You have a new project</h2>
                <p class="project__description">Contact me now and get a 30% discount</p>
                <a href="#" class="button button--flex button--white">
                    Contact me 
                    <i class="uil uil-message project__icon"></i>
                </a>

            </div>
            <img src="assets/img/NCH.jpg" alt="" class="project__img">
        </div>
    </div>
</section>