<!---------------------- Skills ------------------------->
<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My technical level</span>

    <div class="skills__container container  grid">
        <div class="skill__container">
             <!-- Skills 1 -->
            <div class="skills__content skills__close" id="skills-content" >
               
                <div class="skills__header">
                    <i class="uil uil-brackets-curly skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Frontend Developer</h1>
                        <span class="skills__subtitle">More than 4 years</span>

                    </div>
                    <i class="uil uil-angle-down skills__arrow" ></i>

                </div>
                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__title">
                            <h3 class="skills__data">HTML</h3>
                            <span class="skills_number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skill__html"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__title">
                            <h3 class="skills__data">CSS</h3>
                            <span class="skills_number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skill__css"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__title">
                            <h3 class="skills__data">JavaScript</h3>
                            <span class="skills_number">60%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skill__js"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__title">
                            <h3 class="skills__data">Angularjs</h3>
                            <span class="skills_number">40%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skill__angular"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="skill__container">
            <!-- Skills 2 -->
            <div class="skills__content skills__close" id="skills-content">
                                
                <div class="skills__header">
                    <i class="uil uil-server-network skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Backend Developer</h1>
                        <span class="skills__subtitle">More than 4 years</span>

                    </div>
                    <i class="uil uil-angle-down skills__arrow" ></i>
                </div>
                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__title">
                            <h3 class="skills__data">PHP</h3>
                            <span class="skills_number">20%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skill__PHP"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__title">
                            <h3 class="skills__data">Laravel</h3>
                            <span class="skills_number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skill__Laravel"></span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__title">
                            <h3 class="skills__data">.Net</h3>
                            <span class="skills_number">60%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skill__net"></span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
    </div>
</section>